<article>
    <h2>
    <a href="/comics/series/{{ item.series }}">
    {{ groupLabels[item.series] }}:
    </a>
    "{{ item.description }}"</h2>
    {% for image in item.images %}
        <img src="{{ url_for('static', filename='full/' ~ image) }}">
    {% endfor %}
</article>