{% extends "snippets/base.jinja" %}

{% block metaImage %}
{{ items.images[0] }}
{% endblock %}

{% block title %}
{{ groupLabels[seriesId] }} Comics
{% endblock %}

{% block content %}

<h1>More {{ groupLabels[seriesId] }}</h1>
{% include 'snippets/gallery.jinja' %}

{% endblock %}