{% extends "snippets/base.jinja" %}

{% block title %}
About
{% endblock %}

{% block content %}

{% filter md %}
# Me

I'm a Product Designer in Oakland, CA. The comic strips are for my own amusement.

{% endfilter %}

<a href="http://twitter.com/elstono/media"><i class="fa fa-twitter-square fa-2x"></i></a>
<a href="https://www.linkedin.com/in/larrystone/"><i class="fa fa-linkedin-square fa-2x"></i></a>
		
{% endblock %}