{% extends "snippets/base.jinja" %}

{% block title %}
About
{% endblock %}

{% block content %}

{% filter md %}
# Where is B-Lab?

![U-Gene forgets the Gorilla Munch](/static/full2x/gorilla-munch.png)

Nestled somewhere near the startups of Silicon Valley, the desert hangars of Area 51 and the hatch in *Lost,* you’ll find the intersection on of politics, technology, pop culture and the absurd.

B-Lab’s origins are as mysterious as the characters stationed there: A physics professor with a low IQ-to-EQ ratio, his introverted lab-armadillo, a Fedora-donning walking brain, a half-dead cat (or half-alive to you optimists), a psychic canary, 163,000+ fruit flies, a maniacal hacker crayfish and a jetpack-clad genetic cross between a slug and a studio-executive.

Just which act of Congress funded it has been long forgotten. No one knows its original purpose and, worse, how to shut it down.

B-Lab is the brainchild of Larry Stone.

{% endfilter %}

<a href="http://twitter.com/elstono/media"><i class="fa fa-twitter-square fa-2x"></i></a>
<a href="https://www.linkedin.com/in/larrystone/"><i class="fa fa-linkedin-square fa-2x"></i></a>

{% endblock %}