{% extends "snippets/base.jinja" %}
{% set metaImage="gorilla-munch.png" %}
{% set pageTitle="About" %}

{% block content %}

{% filter md %}
# Where is B-Lab?

![U-Gene forgets the Gorilla Munch](/static/full2x/gorilla-munch.png)

Nestled somewhere near the startups of Silicon Valley, the desert hangars of Area 51 and the hatch in *Lost,* you’ll find the intersection on of politics, technology, pop culture and the absurd.

B-Lab’s origins are as mysterious as the characters stationed there: A physics professor with a low EQ-to-IQ ratio, his introverted lab-armadillo, a walking brain, a half-dead cat (half-alive, optimists), a psychic canary, 13 thousand award-winning fruit flies, and <nobr>U-Gene</nobr> &mdash; a jetpack-wearing genetic cross between a banana slug and a studio-executive.

Just which act of Congress funded it has been long forgotten. No one knows its original purpose and, worse, how to shut it down.

<p class="footnotes">B-Lab is the brainchild of Larry Stone. Site built with (starting at the bottom of the stack) <a href="http://Repl.it" _target="blank">Repl.it</a>, Flask, JSON, Javascript, HTML, CSS, Markdown, Imagemagick, and passion. Bungee font by <a href="http://www.djr.com/" target="_blank">David Jonathan Ross</a>. Hubbali font by <a href="http://www.erinmclaughlin.com" target="_blank">Erin McLaughlin</a>. Icons by <a href="https://fontawesome.com/" _target="blank">Fontawesome</a>.</p>
{% endfilter %}


{% endblock %}