{% extends "snippets/base.jinja" %}
{% set metaImage="gorilla-munch.png" %}
{% set pageTitle="Archives" %}
{% set pageDescription="B-Lab is Larry Stone's comic strip about Politics, Technology and Pop Culture." %}

{% block title %}
Archives
{% endblock %}

{% block content %}
{% include 'snippets/gallery.jinja' %}
{% endblock %}