{% extends "snippets/base.jinja" %}
{% set metaImage="gorilla-munch.png" %}
{% set pageTitle="Archives" %}

{% block title %}
Archives
{% endblock %}

{% block content %}

{% for series, items in items | groupby('series') %}
{#     <h1>{{ groupLabels[series] }}</h1> #}
    {% include 'snippets/gallery.jinja' %}
{% endfor %}


{% endblock %}