{% extends "snippets/base.jinja" %}
{% set metaImage=item.images[0] %}
{% set pageTitle=item.title %}

{% block content %}

<h1>"{{ item.title }}"</h1>

<div class="imageGroup">
{% for image in item.images %}
    <div class="imgContainer">
    <img src="{{ url_for('static', filename='full2x/' ~ image) }}" alt="{{ item.description }}">
    </div>
{% endfor %}
</div>

{% if item.markdown %}
<p>{{ item.markdown | md | safe }}</p>
{% endif %}

<div id="paging">
<a href="/comics/" title="Back"><i class="fa-solid fa-arrow-left-long"></i></a>  
<a href="/random/" title="I'm feeling lucky!"><i class="fa-solid fa-dice"></i></a>
<a href="/comics/{{ next.slug }}" title="More hilarity"><i class="fa-solid fa-arrow-right-long"></i></a>
</div>

{% endblock %}