{% extends "snippets/base.jinja" %}
{% set metaImage=hero.images[0] %}
{% set pageTitle="Home" %}

{% block content %}

<h1>"{{ hero.title }}"</h1>
<div class="imgContainer">
{# <img src="/static/full2x/blabbies-01.png" /> #}
<img src="/static/full2x/{{ hero.images[0] }}" />
</div>


<section>

<h1>More Best o' B-Lab</h1>
{% include 'snippets/gallery.jinja' %}

<div id="readMore">
    <a href="/comics">All Comics <i class="fa-solid fa-arrow-right-long"></i></a>
</div>

</section>

{% endblock %}