{% extends "snippets/base.jinja" %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% set item = hero %}

<section>
{% include 'snippets/article.jinja' %}
</section>

<section>

<h1>More Hilarity</h1>
{% include 'snippets/gallery.jinja' %}

<div id="readMore">
    <a href="/comics">Browse the Archives &rarr;</a>
</div>

</section>

{% endblock %}