{% extends "snippets/base.jinja" %}

{% block title %}
{{ groupLabels[seriesId] }} Comics
{% endblock %}

{% block content %}

<h1>More {{ groupLabels[seriesId] }}</h1>
{% include 'snippets/gallery.jinja' %}

{% endblock %}